Repository zeroth-robotics/zeroth-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

build-toolchain:
  tags:
  - linux-x64
  stage: build-toolchain
  services:
  - docker:dind
  image: docker:latest
  script:
  - "if [ \"$GITLAB_CI\" != \"false\" ]; then\n  echo \"$CI_REGISTRY_PASSWORD\" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin\n  docker pull $TOOLCHAIN_IMAGE:latest || true\nfi\n"
  ...

build-cviwrapper:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-servo:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-efuse:
  tags:
  - linux-x64
  variables:
    TOOLCHAIN_PREFIX: /sdk/host/bin/riscv64-buildroot-linux-musl-
    SYSROOT: /sdk/host/riscv64-buildroot-linux-musl/sysroot
    CFLAGS: -mcmodel=medany -mabi=lp64d
    LDFLAGS: -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
    TPU_SDK_DIR: ../tpu-sdk-sg200x
  ...

build-kos:
  tags:
  - linux-x64
  stage: build-runtime
  needs:
  - build-cviwrapper
  - build-servo
  image: $TOOLCHAIN_IMAGE:latest
  variables:
    CC_riscv64gc_unknown_linux_musl: /sdk/host/bin/riscv64-buildroot-linux-musl-gcc.br_real
  script:
  - cd kos-zbot
  - source /root/.cargo/env
  ...

delete build.rs
  kos-zbot/build.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

remove client-py
  .gitmodules
Due: none

remove sim
  .gitmodules
Due: none

led matrix driver
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/src/led_matrix.rs
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

led matrix driver (#88)
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/src/led_matrix.rs
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

update syntax, zero pos default
  experiments/deploy_policy.py
Due: none

save torque logic
  experiments/deploy_policy.py
Due: none

expoeriment
  experiments/deploy_policy.py
  experiments/test_connections.py
Due: none

fixing servo stuff
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/firmware/feetech/feetech.c
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_reset_calibration.rs
  kos-zbot/src/bin/feetech_scan.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

kinda working holy shit
  experiments/deploy_policy.py
Due: none

faults in kos actuator proto
  kos-zbot/Cargo.lock
  kos-zbot/Cargo.toml
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_reset_calibration.rs
  kos-zbot/src/bin/feetech_scan.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

servo improvements
  kos-zbot/src/actuator.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

implement servo acceleration setup
  kos-zbot/src/actuator.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

implemented velocity setpoint in position following mode
  kos-zbot/src/actuator.rs
  kos-zbot/src/firmware/feetech.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

fixed configure_actuator (was ignoring all settings if torque enable was included in config)
  kos-zbot/src/actuator.rs
  kos-zbot/src/firmware/feetech.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

cleanup, added debug logging
  kos-zbot/src/actuator.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

feetech cli tool to change accel
  kos-zbot/src/bin/feetech_accel.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

fix - only set acceleration if it's passed via config
  kos-zbot/src/actuator.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

servo configuration fix - add acceleration config - add speed setpoint in position mode (#89)
  kos-zbot/src/actuator.rs
  kos-zbot/src/bin/feetech_accel.rs
  kos-zbot/src/firmware/feetech.rs
  kos-zbot/src/firmware/feetech_servo/sts3215.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

kos bump
  kos-zbot/Cargo.toml
Due: build-cviwrapper, build-servo, build-efuse, build-kos

working but needs cleanup
  kos-zbot/src/imu.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

working
  kos-zbot/src/imu_bmi088.rs
  kos-zbot/src/imu_bno055.rs
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

formatting and lint
  kos-zbot/src/imu_bmi088.rs
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

more formating
  kos-zbot/src/imu_bmi088.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

remove old sanity check for bmi088
  kos-zbot/src/imu_bmi088.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

patch for bmi088 often not starting well
  kos-zbot/src/imu_bmi088.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

rotation correction with nalgebra
  kos-zbot/Cargo.toml
  kos-zbot/src/imu_bmi088.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

get orientation from complimentary filter
  kos-zbot/src/imu_bmi088.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

if both imu fails, continue without them instead of crashing
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

If no velocity command is passed we should set to zero. This disables the velocity limit (or internally sets it to max in feetech servo)
  kos-zbot/src/firmware/feetech.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

Disable Velocity Limit, If None is Passed (#95)
  kos-zbot/src/firmware/feetech.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

Add bmi088 imu and few minor updates (#93)
  kos-zbot/Cargo.toml
  kos-zbot/src/imu_bmi088.rs
  kos-zbot/src/imu_bno055.rs
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

imu version update
  kos-zbot/Cargo.toml
Due: build-cviwrapper, build-servo, build-efuse, build-kos

6dof id change
  kos-zbot/src/lib.rs
Due: build-cviwrapper, build-servo, build-efuse, build-kos

version bump
  kos-zbot/Cargo.toml
Due: build-cviwrapper, build-servo, build-efuse, build-kos

clean up
  .gitlab-ci-local-env
  .gitlab-ci-local-variables.yml
  .gitlab-ci.yml
  README.md
  __init__.py
  experiments/__init__.py
  experiments/imu.py
  experiments/model.py
  experiments/plot.py
  experiments/requirements.txt
  experiments/robot.py
  experiments/run.py
  experiments/teleop/README.md
  experiments/teleop/main.py
  experiments/teleop/requirements.txt
  experiments/teleop/urdf/meshes/Left_Hand.stl
  experiments/teleop/urdf/meshes/Torso.stl
  experiments/teleop/urdf/meshes/ankle_pitch_left.stl
  experiments/teleop/urdf/meshes/ankle_pitch_right.stl
  experiments/teleop/urdf/meshes/foot_left.stl
  experiments/teleop/urdf/meshes/foot_right.stl
  experiments/teleop/urdf/meshes/hand_right.stl
  experiments/teleop/urdf/meshes/hip_roll_left.stl
  experiments/teleop/urdf/meshes/hip_roll_right.stl
  experiments/teleop/urdf/meshes/hip_yaw_left.stl
  experiments/teleop/urdf/meshes/hip_yaw_right.stl
  experiments/teleop/urdf/meshes/knee_pitch_right.stl
  experiments/teleop/urdf/meshes/knee_pitch_right_2.stl
  experiments/teleop/urdf/meshes/left_shoulder_yaw_motor.stl
  experiments/teleop/urdf/meshes/right_shoulder_yaw_motor.stl
  experiments/teleop/urdf/meshes/shoulder_yaw_left.stl
  experiments/teleop/urdf/meshes/shoulder_yaw_right.stl
  experiments/teleop/urdf/robot_fixed.urdf
  runtime/firmware/efuse/efuse_read_serial
Due: build-toolchain, build-cviwrapper, build-servo, build-efuse, build-kos

update .gitignore
  .gitignore
Due: none

Path conditions:
  build-toolchain: any of: kos-zbot/toolchain-docker-img/**/*, .gitlab-ci.yml
  build-cviwrapper: any of: kos-zbot/**/*, .gitlab-ci.yml
  build-servo: any of: kos-zbot/**/*, .gitlab-ci.yml
  build-efuse: any of: kos-zbot/**/*, .gitlab-ci.yml
  build-kos: any of: kos-zbot/**/*, .gitlab-ci.yml
